Jobs by Level of Interest
<ul>
  <% @jobs.each do |job| %>
    <li>
      Level of Interest: <%= job.level_of_interest %><br>
      Title: <%= job.title %><br>
      Company: <%= job.company.name %><br>
    </li>
  <% end %>
</ul>

Companies with most Interest
<ul>
  <% @companies.each do |company| %>
  <li>
    Name: <%= company[0].name %><br>
    Average Interest: <%= company[1] %><br>
  </li>
  <% end %>
</ul>
